
  <h1>
    Welcome to {{ title }}!
  </h1>
 
  <form >
    Name:<br>
    <input [(ngModel)]='modal.name' type="text" name="name" >
    <br>
    Position:<br>
    <input [(ngModel)]='modal.pos' type="text" name="position" >
    <br><br>
    <input (click)='addEmp()' type="submit" value="Submit">
  </form> <br><br>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Position</th> 
      <th>Update </th>
      <th>Delete</th>
    </tr>
    <tr *ngFor='let e of emp_list; index as i'>
      <td>{{e.name}}</td>
      <td>{{e.pos}}</td>
      <td id='btn'><button  (click)='edit(i)' type="submit">edit</button></td>
      <td id='btn'><button (click)='delete(i)' type="submit">Del</button></td>
    </tr>
  </table>
  <br><br>
  <h2>Edit</h2>
  <div>
    Name:<br> 
    <input [(ngModel)]='modal2.name' type="text" ><br>
    Position:<br>
    <input [(ngModel)]='modal2.pos' type="text" ><br>
    <input (click)='save()' type='button' value='Update'>
  </div>

  